@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Microsoft Sans Serif';
  font-weight: normal;
  src: url('/static/fonts/mss.woff2') format('woff2');
  -webkit-font-smoothing: none;
}

@font-face {
  font-family: 'Microsoft Sans Serif';
  font-weight: bold;
  src: url('/static/fonts/mss-bold.woff2') format('woff2');
  -webkit-font-smoothing: none;
}

@layer base {
  html {
    @apply font-mss text-[1.7vh] overflow-hidden cursor-default;
  }
}

@layer components {
  button {
    @apply cursor-default;
  }
}

@layer utilities {
  .bg-checkered {
    background-image: linear-gradient(45deg, #c0c0c0 25%, transparent 25%),
      linear-gradient(-45deg, #c0c0c0 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #c0c0c0 75%),
      linear-gradient(-45deg, transparent 75%, #c0c0c0 75%);
    background-size: 0.2999vh 0.2999vh;
    background-position: 0 0, 0 0.1499vh, 0.1499vh -0.1499vh, -0.1499vh 0;
    background-color: white;
  }
}

* {
  image-rendering: pixelated;
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

#__next {
  @apply h-screen w-screen bg-black;
}
