@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Microsoft Sans Serif";
  src: url("/static/fonts/mss.woff2") format("woff2");
  -webkit-font-smoothing: none;
}

@layer base {
  html {
    @apply font-mss overflow-hidden cursor-default;
  }
}

* {
  image-rendering: pixelated;
}

#__next {
  @apply h-screen w-screen bg-black;
}
